:root {
  --mainWhite: #f2fdff;
  --mainBlue: #3e92cc;
}
.max-height {
  min-height: 100vh;
}
body {
  background: var(--mainWhite);
  padding: 0 15px;
}
.container {
  text-align: center;
}
.img-container {
  min-height: 60vh;
  background: url("./img/contBcg-0.jpeg") center/cover no-repeat;
  border: 0.1rem solid var(--mainBlue);
  border-bottom: 1rem solid var(--mainBlue);
  border-radius: 1rem;
  position: relative;
  transition: background 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .img-container {
    min-height: 80vh;
  }
}
.btn-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.btn-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
#icon-left,
#icon-right {
  border: 1px solid var(--mainBlue);
  border-radius: 100%;
}
#icon-left:hover,
#icon-right:hover {
  border-color: var(--mainWhite);
}
.play-wrapper {
  padding: 0.3rem;
  border-bottom: 1px solid gray;
  color: gray;
}
#playBtn,
#stopBtn {
  margin: 0.2rem;
  cursor: pointer;
}
.car-name {
  margin: 2px;
  text-shadow: 0px 0px 10px var(--mainBlue);
}

.carousel {
  margin-top: 10px;
}
.carousel img {
  width: 200px;
  height: 120px;
  margin: auto 20px;
  border-radius: 5px;
  border: 1px solid var(--mainBlue);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.active {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}
