@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Righteous&display=swap");

:root {
  --mainBg: #345678;
  --mainWhite: #f2fdff;
  --mainBlue: #3e92cc;
}
.max-height {
  min-height: 100vh;
}
body {
  background: var(--mainBg);
  padding: 0;
  margin: 0;
}
.container {
  text-align: center;
  height: 100vh;
}
.img-container {
  position: relative;
  min-height: 60vh;
  font-family: Righteous;
  background: url("./img/contBcg-0.jpeg") center/cover no-repeat;
  transition: background 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .img-container {
    min-height: 80vh;
  }
}
.btn-left {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translate(-50%, -50%);
}
.btn-right {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translate(50%, -50%);
  /* border: 1px solid red; */
}
.btn {
  width: 100px;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.arrow {
  padding: 10px 0;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.2);
}

.btn:hover {
  background: rgba(0, 0, 0, 0.5);
}

.btn:hover .arrow {
  border-color: var(--mainWhite);
  color: rgba(255, 255, 255, 0.8);
}

.play-wrapper {
  cursor: pointer;
}

#playBtn {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 30px;
  width: 150px;
  padding: 20px 0;
}

#stopBtn {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 160px;
  bottom: 0;
  font-size: 30px;
  width: 150px;
  padding: 20px 0;
}

#playBtn:hover {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

#stopBtn:hover {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.car-description {
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  background: rgba(0, 0, 0, 0.3);
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--mainWhite);
  z-index: 999;
  bottom: 0;
  right: 0;
}

.car-description p {
  position: relative;
  padding: 15px;
  margin: 0;
  text-align: start;
  color: rgba(255, 255, 255, 0.4);
}

.car-description span {
  position: absolute;
  left: 70px;
}

.car-description:hover span {
  color: rgba(255, 255, 255, 1);
}

.carousel {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.carousel img {
  width: 18vw;
  height: calc(100vh - 80vh);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.active {
  transform: scaleX(1.3);
  overflow: hidden;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 0px 100px 1px #fff;
}
